<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.irfan.project.lastprojnfc">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SplashS"/>
        <activity android:name=".UserControl.Login"/>
        <activity android:name=".UserControl.TampilData"/>
        <activity android:name=".UserControl.Tambah_Data"/>
        <activity android:name=".UserControl.Detail_Data"/>
        <activity android:name=".UserControl.Profile"/>
    </application>
</manifest>
